[Unit]
Description=Run Pipita portal generator every 30 minutes

[Timer]
OnBootSec=3m
OnUnitActiveSec=30m
Persistent=true
Unit=pipita-portal-generate.service

[Install]
WantedBy=timers.target
