[Unit]
Description=Run Pizero portal generator every 30 minutes

[Timer]
OnBootSec=3m
OnUnitActiveSec=30m
Persistent=true
Unit=pizero-portal-generate.service

[Install]
WantedBy=timers.target
